@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');



#navbarNav > a, li{
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    font-family: "Rubik";
    color: black;
    list-style:none;
}

#logo{
    margin-right: 50px;
}

.nav-link, img, h1,h2{
    color:black
}

h1{
    font-size: 45px;
    font-weight: 700;
}
 
.redes {
    margin-right: 10px;
}

.descripcion{
    font-size: 23px;
    font-weight: 500;
    padding-top: 50px;
    text-wrap: balance;
}

#sobreNosotros{
    margin-top: 50px;
}

.voluntaria{
    border-radius: 10%;
    width: 100%;
    height: 400px;
    
}

.btn{
    font-family: "Rubik", sans-serif;
    font-size: 15px;
}

#castra {
    border-radius: 10%;
}

.titulo {
    font-family: "Rubik", sans-serif;
    color: #146c43;
    font-size: 35px;
}

p > a {
    color: #198754;
    text-decoration: none;
}

p > a:hover {
    text-decoration: underline;
}

@media (max-width:400px) and (min-width: 330px){ 
    h1{
        font-size: 43px;
    }
    #mercadopagoIMG{
        width: 100%;
    }
}

#inicio {
    height: 100%;
}

.descripcion2{
    font-size: 20px;
    font-family: "Rubik", sans-serif;
    text-wrap: balance;
}

.mercadopago{
    background-color: black;
    color: #fff;
    border-radius: 16px;
}


.dona{
    font-size: 30px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    margin-top: 13px;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
  }

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
  }
  
  details[open] {
    padding: 0.5em;
  }
  
  details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
  }
  
  .btnmercado{
    background-color: #00AEEF;
    color: white;
  }

  .btn2:hover{
    background-color: #00AEEF;
    color: white;
    transform: scale(1.04);
  }
  
  .btn-success:hover{
    transform: scale(1.04);
  }

  #navbarNav > a, li:hover{
    transform: scale(1.15);
    transition: 0.2s;
  }
  .preguntas{
    font-size: 18px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
  }