@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');



#navbarNav > a, li{
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    font-family: "Rubik";
    color: black;
    list-style:none;
}

#logo{
    margin-right: 50px;
}

.nav-link, img, h1,h2{
    color:black
}

h1{
    font-size: 50px;
    font-weight: 700;
}
 
.redes {
    margin-right: 10px;
}

.descripcion{
    font-size: 30px;
    font-weight: 500;
    padding-top: 50px;

}

#sobreNosotros{
    margin-top: 50px;
}

.voluntaria{
    border-radius: 10%;
}

.btn{
    font-family: "Rubik", sans-serif;
    font-size: 15px;
}

